<html ng-app="app">
  <body>
    <div ng-controller="MainController">
      <input ng-model="myfilter.str">
      <!-- {{ myfilter.str | uppercase }} -->
      <!-- {{ myfilter.str | date }} --> <!-- Type Date.now() in Javascript console -->
     <div ng-repeat="user in mydata.arr | filter:myfilter.str">
      {{ user }}
     </div>
     <!--  <div ng-repeat="user in mydata.arr | filter:myfilter | orderBy:'age' | limitTo:2">
        {{ user }}
      </div> -->
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>