<html ng-app="app">
  <body>

    <div ng-controller="MainController">
      
      <input ng-model="mydata">
      <!-- <input ng-model="mydata">
      <input ng-model="mydata">
      <input ng-model="mydata"> -->
      <!-- <button ng-click="mydata='123'">123</button> -->
      <h1>{{ mydata }}</h1>

      <!-- <div ng-controller="SubController">
        <input ng-model="mydata">
        <h1>{{mydata}}</h1>  
      </div> -->

      <!-- Always have a dot in the model name when you are dealing with inheritance -->
      <!-- <input ng-model="mydata.val">
      <h1>{{mydata.val}}</h1>

      <div ng-controller="SubController">
        <input ng-model="mydata.val">
        <h1>{{mydata.val}}</h1>  
      </div> -->

    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>